#header {
	border-radius: 6px;
	background: #eee;
	border: 1px solid #ddd;
	clear: both;
}

#headline {
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

#login-btn {
	display: inline;
}

#logout-btn {
	display: none;
}

#signup-btn {
	display: inline;
}

#acts {
	position: relative;
}

.block {
	border-radius: 6px;
	position: absolute;
	background: #eee;
	padding: 20px;
	width: 300px;
	border: 1px solid #ddd;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

